body {
  width: 900px;
  padding-top: 200px;
  margin: 0px auto;
}

#main-input {
  font-size: 20px;
  height: 30px;
}

.result {
  padding: 5px;
  margin-bottom: 0px;
  border: 1px solid rgb(231, 234, 255);
}

.result.even {
  background-color: rgb(231, 234, 255);
}

.result.odd {
  
}

.score {
  font-size: 20px;
}